.list{
    
  
    max-width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.card-image{
    width: 45px;
    height: 45px;
    padding-top: 5px;
}
.mat-card-extra{
    padding: 10px;
    margin-top: 10px;
}
.mat-card-title-extra{
    padding-top: 5px;
}
